In [1]:
import pandas as pd

In [5]:
data : pd.read_excel("data.xlsx")

In [4]:
cols = ["territory", "square", "population", 
             "employees_number", "avg_income",
             "consumer_spending", "avg_normal_wage",
             "gross_product", "investments_base_asset", 
             "fixed_economy_assets", "minerals",
             "manufactors", "electricity_energy_gas_couple", 
             "water_waste", "agriculture", "crop_prod", 
             "animal_husbandry", "residential_buildings", 
             "retail_turnover", "net_financial_result"]

In [6]:
data.columns = cols

In [8]:
description = {
    "territory" : "Место",
  "square" : "Площадь территории, тыс. км2",
  "population" : "Численность населения на 1 января 2021 г., тыс. человек",
  "employees_number" : "Средне-годовая численность занятых, тыс. человек",
  "avg_income" : "Средне-душевые денежные доходы (в месяц), руб.",
  "consumer_spending" : "Потребительские расходы в среднем на душу населения (в месяц), руб.",
  "avg_normal_wage" : "Среднемесячная номинальная начисленная заработная плата работников организаций, руб.",
  "gross_product" : "Валовой региональный продукт в 2019 г., млрд руб.", 
  "investments_base_asset" : "Инвестиции в основной капитал, млрд руб.", 
  "fixed_economy_assets" : "Основные фонды в экономике (по полной учетной стоимости; на конец года), млрд руб.",
  "minerals" : "добыча полезных ископаемых",
  "manufactors" : "обрабатывающие производства",
  "electricity_energy_gas_couple" : "обеспечение электрической энергией, газом и паром; кондиционирование воздуха", 
  "water_waste" : "водоснабжение; водоотведение, организация сбора и утилизации отходов, деятельность по ликвидации загрязнений",
  "agriculture" : "Продукция сельского хозяйства - всего, млрд руб.",
  "crop_prod" : "растениеводства", 
  "animal_husbandry" : "животноводства",
  "residential_buildings" : "Ввод в действие жилых домов, тыс. м2 общей площади жилых помещений", 
  "retail_turnover" : "Оборот розничной торговли, млрд руб.",
  "net_financial_result" : "Сальдированный финансовый результат (прибыль минус убыток) деятельности организаций, млрд руб."
}

In [15]:
data = data.dropna()

In [10]:
import numpy as np

In [16]:
[val for val in data['avg_income'].values]

['36 073',
 '48 226',
 '32 841',
 '28 596',
 '25 922',
 '32 078',
 '26 277',
 '32 442',
 '25 780',
 '29 786',
 '32 226',
 '47 046',
 '26 843',
 '27 312',
 '28 152',
 '27 889',
 '27 681',
 '29 385',
 '29 514',
 '77 283',
 '39 366',
 '32 583',
 '36 677',
 '36 779',
 '84 147',
 '34 852',
 '29 522',
 '29 518',
 '33 149',
 '46 355',
 '26 268',
 '26 436',
 '49 207',
 '30 678',
 '30 293',
 '19 811',
 '22 950',
 '36 838',
 '25 199',
 '24 864',
 '31 427',
 '29 957',
 '24 427',
 '27 661',
 '16 877',
 '21 957',
 '18 949',
 '23 927',
 '24 596',
 '23 911',
 '28 555',
 '30 249',
 '21 264',
 '20 631',
 '35 635',
 '25 449',
 '21 155',
 '30 215',
 '24 192',
 '33 645',
 '24 719',
 '24 118',
 '29 893',
 '24 046',
 '24 590',
 '37 204',
 '21 860',
 '37 374',
 '50 059',
 '54 443',
 '89 928',
 '31 151',
 '26 628',
 '27 972',
 '21 677',
 '18 972',
 '23 837',
 '23 864',
 '32 832',
 '27 571',
 '25 433',
 '31 563',
 '27 354',
 '28 857',
 '39 051',
 '26 092',
 '46 338',
 '27 046',
 '55 373',
 '37 304',
 '41 740',
 '35 499',
 '70 864',
 '60 770',
 '28 048',
 '89 541']

In [17]:
[float(str(val).replace(' ','').replace(',','.')) for val in data['avg_income'].values]

[36073.0,
 48226.0,
 32841.0,
 28596.0,
 25922.0,
 32078.0,
 26277.0,
 32442.0,
 25780.0,
 29786.0,
 32226.0,
 47046.0,
 26843.0,
 27312.0,
 28152.0,
 27889.0,
 27681.0,
 29385.0,
 29514.0,
 77283.0,
 39366.0,
 32583.0,
 36677.0,
 36779.0,
 84147.0,
 34852.0,
 29522.0,
 29518.0,
 33149.0,
 46355.0,
 26268.0,
 26436.0,
 49207.0,
 30678.0,
 30293.0,
 19811.0,
 22950.0,
 36838.0,
 25199.0,
 24864.0,
 31427.0,
 29957.0,
 24427.0,
 27661.0,
 16877.0,
 21957.0,
 18949.0,
 23927.0,
 24596.0,
 23911.0,
 28555.0,
 30249.0,
 21264.0,
 20631.0,
 35635.0,
 25449.0,
 21155.0,
 30215.0,
 24192.0,
 33645.0,
 24719.0,
 24118.0,
 29893.0,
 24046.0,
 24590.0,
 37204.0,
 21860.0,
 37374.0,
 50059.0,
 54443.0,
 89928.0,
 31151.0,
 26628.0,
 27972.0,
 21677.0,
 18972.0,
 23837.0,
 23864.0,
 32832.0,
 27571.0,
 25433.0,
 31563.0,
 27354.0,
 28857.0,
 39051.0,
 26092.0,
 46338.0,
 27046.0,
 55373.0,
 37304.0,
 41740.0,
 35499.0,
 70864.0,
 60770.0,
 28048.0,
 89541.0]