In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('WaitData.Published.xlsx', sheet_name='F3')

In [3]:
df

,Wait,x_ArrivalDTTM,x_ScheduledDTTM,x_BeginDTTM,SumHowEarlyWaiting,AvgHowEarlyWaiting,LineCount0Strict,SumWaits,LineCount0,LineCount1,...,NumAddOnsToday,NumAddOnsLastW2,NumScheduledNextSlot,NumScheduledNextW2,SumTimeToCompleteNextSlot,SumTimeToCompleteNextW2,WithContrastCountWaiting,WithAndWithoutContrastCountWaiting,WithContrastCountInProgress,WithAndWithoutContrastCountInProgress
0,0,2025-08-02 16:47:44,2025-08-02 17:45:00,2025-08-02 17:45:03,372,62,6,249,6,5,...,4,2,0,0,0,0,3,1,1,0
1,-3,2025-08-02 16:38:46,2025-08-02 17:15:00,2025-08-02 17:12:14,335,67,3,195,5,4,...,4,1,2,0,32,0,2,1,2,0
2,-25,2025-08-02 16:29:25,2025-08-02 17:30:00,2025-08-02 17:05:15,274,68,4,150,4,5,...,4,1,1,1,13,16,1,1,3,0
3,36,2025-08-02 16:16:24,2025-08-02 16:45:00,2025-08-02 17:21:55,369,73,2,179,5,6,...,3,1,2,1,45,16,3,1,1,0
4,-21,2025-08-02 16:04:36,2025-08-02 17:15:00,2025-08-02 16:54:49,438,73,5,192,6,5,...,3,0,2,1,32,15,4,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23578,38,2023-10-06 08:59:20,2023-10-06 09:00:00,2023-10-06 09:38:45,239,59,0,115,4,4,...,0,0,1,1,14,17,3,0,0,0
23579,8,2023-10-06 08:40:18,2023-10-06 09:45:00,2023-10-06 09:53:06,174,58,3,39,3,1,...,0,0,2,1,33,13,2,0,0,0
23580,12,2023-10-06 08:38:36,2023-10-06 09:30:00,2023-10-06 09:42:46,122,61,2,33,2,1,...,0,0,2,1,34,13,1,0,0,0
23581,2,2023-10-06 08:31:42,2023-10-06 09:15:00,2023-10-06 09:17:00,78,78,0,19,1,1,...,0,0,2,2,40,33,1,0,0,0
23582,2,2023-10-06 08:12:31,2023-10-06 09:30:00,2023-10-06 09:32:46,0,0,0,0,0,0,...,0,0,2,1,34,13,0,0,0,0

In [4]:
df = df[~df['DayOfYear'].isna()]

In [5]:
features = list(set(df.columns) - {'Wait', 'x_ArrivalDTTM', 'x_ScheduledDTTM', 'x_BeginDTTM'})
X = df[features]

In [6]:
y = df['Wait'].values

In [7]:
X

,AvgWaitLastK1Customers,MalesWaitingCount,AvgWaitLastW1,ThoracicCount,WithContrastCountWaiting,Median5,StartTime,mintime,MostRecent2,FutFlowCount2,...,MSKCount,Month,NumCustomersInLastW1,ExpectedDelayNextExam,AheadCount,SchFlowCount2,SumDelayWaitingByExamCode,SumDelayInProgress,SchFlowCount4,LineCount0Strict
0,15,3,43,4,3,30,15.783333,43,-30,4,...,1,7,3,0.000000,42,3,71.966675,-56,6,6
1,15,2,36,4,2,30,15.633333,19,11,3,...,1,7,3,15.271981,38,4,56.694694,-52,6,3
2,26,1,41,3,1,30,15.483333,10,30,3,...,1,7,3,14.243613,40,3,41.422713,-93,5,4
3,12,3,46,4,3,30,15.266666,5,33,3,...,1,7,5,4.168519,35,3,54.146795,-60,5,2
4,-2,4,72,4,4,22,15.066666,7,35,4,...,1,7,4,15.271981,38,2,59.546638,12,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23578,0,2,0,3,3,0,7.983333,0,0,2,...,0,10,4,11.018950,0,0,64.582116,0,0,0
23579,0,2,0,3,2,0,7.666666,0,0,1,...,0,10,4,19.291099,4,0,47.593895,0,0,3
23580,0,2,0,2,1,0,7.633333,0,0,1,...,0,10,3,16.988221,2,0,29.306423,0,0,2
23581,0,1,0,1,1,0,7.516666,0,0,1,...,0,10,2,18.287472,1,0,18.287472,0,0,0
23582,0,0,0,0,0,0,7.200000,0,0,0,...,0,10,1,16.988221,2,0,0.000000,0,0,0

In [50]:
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X, y)
Ypred = model.predict(X) # use trained regression model to predict
r = y-Ypred # compute prediction error (residual)
e = abs(r).mean() # compute model error

In [51]:
e

23.166286147893235

In [52]:
np.median(abs(r))

19.12610097751542

In [53]:
# Run Python feature selection
if True: # just in case I want to disable this part
    print('\n>Python feature selection:')
    from sklearn.feature_selection import RFE
    from itertools import compress
    for nFeatures in range(1,4):
        rfe = RFE(model, n_features_to_select=nFeatures)
        X_rfe = rfe.fit_transform(X,y) #transforming data using RFE
     #Fitting the data to model
        model.fit(X_rfe,y)
        #print(rfe.support_)
        #print(rfe.ranking_)
        cols = list(compress(X.columns, rfe.support_))
        model.fit(X[cols],y)
        e = abs(y-model.predict(X[cols])).mean()
        print(e, cols)

>Python feature selection:
32.50541172120655 ['CardiacCount']
31.22493770698274 ['CardiacCount', 'DelayedInLine']
31.257528948689313 ['StartTime', 'CardiacCount', 'DelayedInLine']

In [54]:
def get_error(model, X, y):
    model.fit(X, y)
    Ypred = model.predict(X)
    r = y-Ypred
    return abs(r).mean()

In [ ]:
min_error, best_feature = None, None
for feature in X.columns:
    error = get_error(model, X[[feature]], y)
    print(feature, error)
    if min_error is None or min_error > error:
        min_error = error
        best_feature = feature

In [57]:
best_feature, min_error

('DelayedInLine', 31.227057699733514)

In [ ]:
min_error, best_feature = None, None
for feature in set(X.columns) - {'DelayedInLine'}:
    error = get_error(model, X[['DelayedInLine', feature]], y)
    print(feature, error)
    if min_error is None or min_error > error:
        min_error = error
        best_feature = feature

In [59]:
best_feature, min_error

('LineCount0Strict', 30.137965863467567)

In [ ]:
min_error, best_feature = None, None
for feature in set(X.columns) - {'DelayedInLine', 'LineCount0Strict'}:
    error = get_error(model, X[['DelayedInLine', 'LineCount0Strict', feature]], y)
    print(feature, error)
    if min_error is None or min_error > error:
        min_error = error
        best_feature = feature

In [62]:
best_feature, min_error

('LineCount0', 28.696490632253404)

In [63]:
def iterative_feature_selection(model, X, y):
    selected_features = []
    current_min_error = None
    for i in range(15):
        min_error, best_feature = None, None
        for feature in set(X.columns) - set(selected_features):
            error = get_error(model, X[selected_features + [feature]], y)
            if min_error is None or min_error > error:
                min_error = error
                best_feature = feature
        current_min_error = min_error
        selected_features.append(best_feature)
        print(i, current_min_error)

In [64]:
iterative_feature_selection(model, X, y)

0 31.227057699733514
1 30.137965863467567
2 28.696490632253404
3 28.246309585132344
4 28.147006842164537
5 24.989574734774788
6 24.65918640725134
7 24.329071006187295
8 24.071936786758204
9 23.846509492065238
10 23.692619398547116
11 23.627914296582187
12 23.57915967047989
13 23.548081793881487
14 23.520963512553436

In [70]:
def brute_feature_selection(model, X, y):
    min_error, best_features = None, None
    for first_feature_idx in range(len(X.columns) - 2):
        for second_feature_idx in range(first_feature_idx + 1, len(X.columns) - 1):
            for third_feature_idx in range(second_feature_idx + 1, len(X.columns)):
                features = [X.columns[first_feature_idx], X.columns[second_feature_idx], X.columns[third_feature_idx]]
                error = get_error(model, X[features], y)
                if min_error is None or min_error > error:
                    min_error = error
                    best_features = features
    return min_error, best_features

In [71]:
brute_feature_selection(model, X, y)

(26.072745167091224,
 ['SumDelayWaitingByExamCode', 'NumCompletedToday', 'AheadCount'])